**/*.suo
**/*.user
_ReSharper*
output
release-output
build-output
test-reports
coverage-reports
packages

*.user
*.DotSettings*
*.resharper
*.suo
src/**/bin
obj
*.[Cc]ache
*~
*.swp
*.log
*.pdb
/tools/timeout/logfile
**/**/logfile????-??-??
/src/TestResults
/src/Nft/NftClient/TestResults
version.txt
/buildOutput.txt
/src/.nuget
/_NCrunch_Delivery/
*.ncrunchproject
_NCrunch_*
.*crunch*.local.xml
*.ncrunch*
/Backup
*.feature.cs
UpgradeLog.htm
*.bak
TestResult.xml
Trainline.AppPackager
/src/.vs/config/applicationhost.config
/src/.vs/TTL.TicketValidation.SaleNotification/**/sqlite3
storage.ide*

.vs/